@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
/* cdn of the other font too its currently in html only */

*{
    transition: 0.3s ease;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}



body {
    background-color: black;
    /* padding: 0;
    margin: 0; */
    color: aliceblue;
}

header{
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    /* font-variation-settings:
    "ROND" 0; */

}

nav{
    height: 70px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
}

#filler{
    flex: 1;
}

#logo{
    background-color: red;
    height: 50px;
    width: 50px
}


#menu{
    display: flex;
    flex-direction: row;
    gap: 40px;
    /* background-color: rebeccapurple; */
}

.opt:hover{
    cursor: pointer;
    opacity: 75%;
}



h3{
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-size: 21px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

#container{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    margin: 20px 30px;
}
#hori{
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: row;
    height: 50vh;
    
}

#hori2{
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: row;
    height: 50vh;
    
}

a { all: unset; }


.lvl{
    /* background-color: red; */
    width: 20%;
    border: 2px solid grey; 
}

.lvl + .lvl{
    border-left: 0;
}

.lvl:hover{
    width: 70%;
    background-color: grey;
}






/*==== logs ====*/

.card{
    background-color: rgb(52, 52, 52);
    height: 200px;
    width: 50vw;
    margin: 15px auto;
    border: 3px solid grey;
    border-radius: 10px;
    padding: 4px 10px;

}

/* 
#card-n{
    border-color: blue;
}    */

/* decide if i wanna use red green and variable vcolors
    or keep a sleek aesthetic only */

/* will finilazie when i properluy design the cards, logo finish up with colors
    and other implementations properl;uy done in code*/

/*  CARD DESIGN LEFT completing after midsem fosho*/



#card-g{
    border-color: green;
}

#card-r{
    border-color: red;
}


/* ===leaderboard=== */

table{
    text-transform: lowercase;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px 20px;
    
}

th{
    background-color: darkcyan;
}

#you-tb{
    background-color: grey;
}

table{
    width: 90%;
    margin: auto;
    /* margin: 10px 50px; */
}

td{
    text-align: center;
}

tr:hover {background-color: coral;}


/* === PODIUM ==== */

#podium{
    /* background-color: aqua; */
    height: 30vw;
    width: 60vw;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    flex-shrink: inherit;
    align-items:flex-end;
    text-align: center;
}

/* .half{

}

.onefourth{

} */


#fir{
    /* background-color: red; */
    flex: 1;
    height: 15vw;
    text-align: center;
    border: 2px solid grey;
    border-bottom: 0px;
    border-right: 0px;
}

#sec{
    /* background-color: blueviolet; */
    flex: 1;
    height: 23vw;
    text-align: center;
    border: 2px solid grey;
    border-bottom: 0px;
}

#thir{
    /* background-color: bisque; */
    flex: 1;
    height: 10vw;
    text-align: center;
    justify-content: center;   
    border: 2px solid grey;
    border-bottom: 0px;
    border-left: 0px;
}
.pos-name{
    justify-self: auto;
    text-align: center;
}
.team-name{
    position:relative;
    top: -50px;
    /* left: 30px; */
    align-items: center;
    text-align: center;
}





/* ===LOGIN PART ==== */

.main-container{
    /* background-color: aqua; */
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.part1{
    /* background-color: red; */
    /* height: 100%; */
    flex: 1;
    margin: 10px;
    text-align: center;
    align-items: center;
}

.part2{
    /* background-color: rebeccapurple; */
    flex: 1;
    margin: 10px;
    text-align: center;
    align-items: center;
}

input{
    background-color: black;
    color: green;
    border: 1px solid grey;
    padding: 4px 9px;
    margin: 4px 8px;
}

input:active{
    border: 1px solid white;
}